html,
body {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style-type: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

hr {
  border-color: #d6d6d6;
  box-sizing: content-box;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

.header {
  color: #fff;
  background-color: #7015e6;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-logo-icon {
  width: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.nav-logo {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}


.header-burger {
  display: block;
}

.header-burger:focus .nav-links {
  display: block;
}

.about {
  display: none !important;
}

.header-status {
  cursor: pointer;
}

.online-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 10px #0000005c inset;
  color: #fff;
  border-radius: 20px;
  padding: 10px 10px;
}

.header-status:hover .chat-now {
  display: block;
  padding: 10px 10px;
  border-radius: 20px;
  background: #ffdc0d;
  font-size: 12px;
  box-shadow: none;
  color: rgba(0,0,0,.6);
}

.chat-now p {
  padding: 0px;
  margin: 0px;
}

.header-status:hover .online-status {
  display: none;
}

.online-dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #9bff00;
  margin-right: 10px;
}

.online-text {
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.chat-now {
  display: none;
}

.header-menu-link {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
}

.main {
  background: #fff;
  z-index: 0;
  box-shadow: 0 0 10px rgb(0, 0, 0/ 25%);
}

.hero {
  color: #fff;
  background: linear-gradient(to bottom, #7a19f1, #332179);
  position: relative;
  background-attachment: fixed;
}

.hero-inner {
  position: relative;
  background-attachment: fixed;
  padding: 60px 0;
  z-index: 5;
}

.hero-divider {
  position: relative;
}

.hero .section {
  padding-bottom: 80px;
}

.text-center {
  text-align: center;
}

.col-1,
.col-4 {
  padding-left: 28px;
  padding-right: 28px;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  color: rgba(0, 0, 0, 6);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  border: 1px solid transparent;
}

.btn-secondary-gradient {
  background: #f2cf00;
  background: linear-gradient(180deg, #f2cf00 0%, #f2b200 100%);
  box-shadow: 0 2px 3px rgb(0, 0, 0/ 50%);
  border: none;
  cursor: pointer;
}

.btn-secondary-gradient:hover {
  background: #f2cf00;
}
.hero p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-divider::after {
  content: " ";
  right: 0;
  bottom: -229px;
  opacity: 1;
  left: 0;
  height: 350px;
  position: absolute;
  z-index: 0;
  background-position: center top;
  background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNjc5IDE5OC42Jz48cGF0aCBkPSdNODM5LjUgOTYuN0M0ODUuMyA5Ni43IDE3NC41IDU3LjkgMCAwdjE5OC42aDE2NzlWMGMtMTc0LjUgCTU3LjktNDg1LjMgOTYuNy04MzkuNSA5Ni43eicgZmlsbD0nI2ZmZicvPjwvc3ZnPg==);
}

.hero-inner::after {
  content: " ";
  right: 0;
  bottom: -70px;
  opacity: 0.1;
  left: 0;
  height: 330px;
  position: absolute;
  z-index: 0;
  background-position: center top;
  background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+);
}

.hero::after {
  content: " ";
  right: 0;
  bottom: 0;
  opacity: 1;
  left: 0;
  height: 230px;
  opacity: 0.1;
  position: absolute;
  z-index: 1;
  background-position: center top;
  background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScwLjc1JyBkPSdNMCwzMkw2MCw1My4zQzEyMCw3NSwyNDAsMTE3LDM2MCwxNDRDNDgwLDE3MSw2MDAsMTgxLDcyMCwxNjBDODQwLDEzOSw5NjAsODUsMTA4MCw4MEMxMjAwLDc1LDEzMjAsMTE3LDEzODAsMTM4LjdMMTQ0MCwxNjBMMTQ0MCwzMjBMMTM4MCwzMjBDMTMyMCwzMjAsMTIwMCwzMjAsMTA4MCwzMjBDOTYwLDMyMCw4NDAsMzIwLDcyMCwzMjBDNjAwLDMyMCw0ODAsMzIwLDM2MCwzMjBDMjQwLDMyMCwxMjAsMzIwLDYwLDMyMEwwLDMyMFonPjwvcGF0aD48L3N2Zz4=);
}

.icon {
  font-size: 25px;
  font-weight: bolder;
}

.col-1 .contact {
  text-decoration: underline;
}

.nav-links {
  background-color: #741ce8;
  top: 30px;
  left: 0;
  position: fixed;
  width: 100%;
  min-width: 320px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 13px 15px #00000029;
  display: none;
}

.header-menu-link:hover {
  color: #ffcb05;
}

.header-menu-link:active {
  color: #ffcb05;
}

.desktop-links,
.preview {
  display: none;
}

#services {
  z-index: 1000;
  padding-top: 40px;
}

li.glide-slide {
  padding: 0 30px;
}

.glide-slide {
  flex-shrink: 0;
  height: 100%;
  white-space: normal;
  width: 100%;
  z-index: 100;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide-slides {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0;
  scroll-behavior: smooth;
  z-index: 5;
  flex-wrap: nowrap;
  white-space: nowrap;
  max-width: calc(100vw - 100px);
  backface-visibility: hidden;
}

.glide-slide h2 {
  font-size: 15px;
  font-weight: 600;
}

.color-primary {
  color: #5b43d6;
}

.glide-control-prev {
  width: 40px;
  height: 40px;
  border: none;
  background: url(https://jonny.me/dist/images/left-chevron.svg);
  background-size: contain;
  opacity: 0.2;
  background-size: 40px;
  z-index: 1000;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.glide-control-next {
  width: 40px;
  height: 40px;
  border: none;
  background: url(https://jonny.me/dist/images/right-chevron.svg);
  background-size: contain;
  opacity: 0.2;
  background-size: 40px;
  z-index: 1000;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-outline-primary {
  border-color: #5b43d6;
  color: #5b43d6;
}

.btn-outline-primary:hover {
  background-color: #5b43d6;
  color: #ffff;
}

h2.pre {
  color: #a9a9a9;
  margin-bottom: 70px;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}

.h3 {
  line-height: 1.6;
  font-weight: 700;
  margin-right: 10px;
}

.portfolio-description {
  margin-bottom: 2rem;
}

.badge {
  display: block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #5b43d6;
}

.port-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 0px;
  padding-bottom: 100px;
}

.portfolio-img {
  width: 70%;
  padding-top: 0;
  margin-top: 0;
  object-fit: contain;
}

.mt-10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

.website:hover {
  text-decoration: underline;
}

.bg-primary {
  background: linear-gradient(to bottom, #7a19f1, #332179);
  background-color: #5b43d6 !important;
}

.pricing h2 {
  font-size: 15px;
  margin-bottom: 70px;
  color: #fff;
}

.mt-11 {
  padding-top: 1.5rem;
}

.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.mt-12 {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.pricing-plan {
  position: relative;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 60px #0000007a;
  padding: 30px 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.pricing-plan1::before,
.pricing-plan2::before,
.pricing-plan3::before {
  content: "";
  background: #80808024;
  z-index: 5;
  height: 180px;
  position: absolute;
  transform: rotate(-5deg);
  width: 1000px;
  top: -120px;
  left: -210px;
}

.pricing-plan1::after,
.pricing-plan2::after,
.pricing-plan3::after {
  content: "";
  right: 0;
  z-index: 5;
  height: 180px;
  position: absolute;
  transform: rotate(106deg);
  width: 1000px;
  top: -210px;
  left: -470px;
  opacity: 0.5;
  background: #0000001c;
}

.pricing-name {
  color: #777;
  font-size: 16px;
  position: relative;
  z-index: 6;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 0;
}

.pricing-name2 {
  color: #fff;
}

.pricing-features {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 10px;
}

.pricing-feature {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  text-align: center;
}

.btn-outline-default {
  color: #797979;
  border: 1px solid #adadad;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.btn-request {
  color: #fff;
  background-color: #5b43d6;
  border-color: #5b43d6;
  margin-top: 5rem;
  font-size: 0.875rem;
}

.pricing-plan2::before {
  background: #7205f7;
}

.pricing-plan2::after {
  background: #5826a082;
}

.pricing-plan3::before {
  background: #ffcd00;
}

.pricing-plan3::after {
  background: #e4ba34;
}

.btn-yellow {
  background-color: #ffcd00;
  border-color: #ffcd00;
}

.tool-tip img {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  cursor: pointer;
  margin-left: 2px;
}

.tool-tip {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-footnote {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  opacity: 0.4;
  letter-spacing: 1px;
  font-size: 11px;
}

.footer-column {
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.form-inner {
  padding-bottom: 3rem;
}

.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  border-radius: 0.25rem;
  font-weight: 400;
  width: 100%;
  background: #fff;
  border: 1px solid #dadada;
}

small {
  font-size: 80%;
  margin-left: 0.25rem;
  font-weight: 400;
}

.mt-13 {
  width: 100%;
  position: relative;
  padding-right: 28px;
  padding-left: 28px;
}

.contact:hover {
  color: #f2b200;
}

.btn-send {
  color: #fff;
  background-color: #5b43d6;
  border-color: #5b43d6;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
}

.footer-menu-item {
  padding: 5px 16px;
}

.footer-menu-link:hover{
  color: #5b43d6;
}

.footer-menu-link {
  color: gray;
  background-color: transparent;
}

.footer-menu {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mt-12 {
    width: 55%;
  }

  .glide-slide {
    flex-shrink: 0;
    height: 100%;
    white-space: normal;
    width: 50%;
  }

  .contact-form {
    width: 90%;
    margin: 0 auto;
  }

  .hero .col-2 {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 60%;
    max-width: 60%;
    text-align: center;
  }

  .header-burger {
    display: none;
  }
  .desktop-links {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .preview {
    display: block;
    color: #fff;
    background-color: #5b43d6;
    border-color: #5b43d6;
  }

  .column {
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .port-header {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .mt-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .portfolio-button {
    display: flex;
    gap: 5px;
  }

  .portfolio-img {
    width: 500px;
  }

  .portfolio-text {
    padding-right: 30px;
    max-width: 42%;
    text-align: left;
  }
}

@media (min-width: 1024px) and (min-width: 1280px) and (min-width: 1536px) {
  .desktop-links {
    display: flex;
    margin: 0px;
    align-items: center;
    padding: 0px;

  }

  .nav-links {
    display: none;
  }

  .port-header {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .mt-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .preview {
    display: block;
    color: #fff;
    background-color: #5b43d6;
    border-color: #5b43d6;
  }
  .header-burger {
    display: none;
  }

  .col-3 {
    flex: 0 0 30%;
    max-width: 50%;
  }

  .header-logo-icon {
    width: 35px;
  }

  .header-status {
    font-size: 20px;
  }

  .header-status::before {
    height: 12px;
    width: 12px;
    margin-top: 3px;
  }

  .website {
    font-size: 20px;
  }

  .hero .col-2 {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 60%;
    max-width: 60%;
    text-align: center;
  }

  .hero p {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-bottom: 30px;
  }

  .hero h1,
  .contact-form h2 {
    font-size: 45px;
    font-weight: bold;
  }

  .btn {
    padding: 20px 30px;
    border-radius: 60px;
  }

  .hero-inner:after {
    height: 190px;
  }

  .section {
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .glide-slide p {
    margin-bottom: 50px;
    line-height: 1.6;
  }

  .glide-slides {
    max-width: calc(100vw - 500px);
  }
  
  .glide-slide {
    flex-shrink: 0;
    height: 100%;
    white-space: normal;
    width: 33%;
  }

  .portfolio-button {
    display: flex;
    gap: 5px;
  }

  .portfolio-text {
    padding-right: 30px;
    max-width: 42%;
    text-align: left;
  }

  .portfolio-img {
    width: 700px;
  }

  .column {
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h3 {
    font-size: 30px;
  }

  .pricing-row {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }

  .mt-12 {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-column {
    flex: 0 0 59%;
    max-width: 59%;
  }

  .form-row {
    display: flex;
  }

  .form-control {
    padding: 0.75rem 1rem;
  }

  .mt-13 {
    padding-right: 10px;
    padding-left: 0px;
  }
}
